<h2>Asset Helpers</h2>
<!--
<img src="http://fillmurray.com/180/120">
-->
<%= image_tag "http://fillmurray.com/180/120", :alt => "A bill photo" %>


<%= image_tag "funny.jpg"%>

<p>See also video_tag and audio_tag</p>
