<h2>URL Helpers</h2>


<a href="/numbers">Numbers</a> <!-- Hard code links are bad because they must be changed manually-->

<%= link_to("Numbers","/numbers") %><!-- same sa above-->

<%= link_to("Numbers", numbers_path) %>
