<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Search</title>
  </head>
  <body>
    <div class="container">
      <h1>Book search</h1>

      <form action="/google">
        <input type="search" name="title" placeholder="Jaws">
        <input type="submit" value="Search">

      </form>

    </div>

  </body>
</html>
