<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My calculator</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
  </nav>
  <h1>Welcome to my calculator</h1>

  <%= yield %>

  <footer>
    &copy; Copyright
  </footer>
  </body>
</html>
