<h1>My blog with all my feelings</h1>

<div class="post">
  <h2></h2>
  <h3 class="author">Someone</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae sequi culpa voluptatem molestias labore necessitatibus consequuntur, similique voluptate quam iusto ex exercitationem, a ipsa! Eius cum alias amet, iusto.</p>
    <p>Ipsum assumenda nostrum quod, unde accusamus aliquam. Rerum inventore sed non, quasi debitis, reiciendis ducimus nisi doloribus minus eaque, molestiae, eligendi unde impedit libero pariatur reprehenderit cupiditate vero culpa ex.</p>
  </div>
</div>

<div class="post">
  <h2></h2>
  <h3 class="author"></h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae sequi culpa voluptatem molestias labore necessitatibus consequuntur, similique voluptate quam iusto ex exercitationem, a ipsa! Eius cum alias amet, iusto.</p>
    <p>Ipsum assumenda nostrum quod, unde accusamus aliquam. Rerum inventore sed non, quasi debitis, reiciendis ducimus nisi doloribus minus eaque, molestiae, eligendi unde impedit libero pariatur reprehenderit cupiditate vero culpa ex.</p>
  </div>
</div>

<div class="post">
  <h2></h2>
  <h3 class="author"></h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae sequi culpa voluptatem molestias labore necessitatibus consequuntur, similique voluptate quam iusto ex exercitationem, a ipsa! Eius cum alias amet, iusto.</p>
    <p>Ipsum assumenda nostrum quod, unde accusamus aliquam. Rerum inventore sed non, quasi debitis, reiciendis ducimus nisi doloribus minus eaque, molestiae, eligendi unde impedit libero pariatur reprehenderit cupiditate vero culpa ex.</p>
  </div>
</div>

<hr>

<div class="error">
  This is a notice
</div>

<div class="success">
  There was success
</div>
